.boxa {
    position: relative;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }
    
.boxb {
    position: relative;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxc {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxd {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxe {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxf {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxg {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxh {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxi {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxj {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxk {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxl {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxm {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxn {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxo {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxp {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxq {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxr {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxs {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxt {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxu {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxv {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxw {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxx {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }
.boxy {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }

.boxz {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    }
